div#contenedor{
     width: 80%;
   padding: 10px;
   margin: auto auto auto auto;
   max-width: 600px;
}
select#departamentos{
    background: #444444;
    color: #dedede;
    font-size: 2em;
   margin: 10% auto 5% auto;
   height: 280px;
  
  
    
}
h1{
   margin: auto auto 4% auto;
   text-align: center;    
}